#headerOptions{
    display: flex;
    flex-direction: row;
}
#optionsMenu{
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav form{
    padding:3%;
}
#homeScreen{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding:2%;
    height: calc(85vh - 110px);
    overflow-y: auto;
}
@media (max-height:445px){
    #homeScreen{
        height: calc(100vh - 15px);
    }
}
@media (max-width: 700px){
    #homeScreen{
        flex-direction: column;
        align-items: center;
    }
    #mainMessageScreen{
        width: 90vw;
    }
    #messages{
        max-height: 200px;
    }
    #chatListSidePanel{
        width:70vw;
    }
    #conversations{
        max-height: 120px;
    }
}
@media (max-width:250px){
    #headerOptions{
        flex-direction:column;
    }
}
@media (max-width:200px){
    #optionsMenu{
        flex-direction: column;
    }
}
#mainMessageScreen{
    flex:2;
    display: flex;
    flex-direction: column;
}
.containerView{
    background-color: rgb(62, 151, 199);
    border-radius: 6px;
}
#messages{
    display: flex;
    flex-direction: column;   
    overflow-y: auto; 
    overflow-x: auto;
}
.message{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 2em;
    margin:.5em;
    padding:1%;
    width: 300px;
}
.incomingMessage{
    align-self: flex-start;
    justify-content: start;
    background-color: rgb(35, 194, 141);
}
.outgoingMessage{
    align-self: flex-end;
    text-align: start;
    background-color: rgb(210, 205, 39);
}
#inputBar{
    align-self: flex-end;
    padding: 2%;
}
#messageBox{
    width: 250px;
}
.userListItem{
    padding-bottom: 2%;
}
#chatListSidePanel{
    flex:1;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 5%;
    /* max-width: 200px; */
}
#conversations{
    display: flex;
    flex-direction: column;
    text-align: start;
    overflow-y: auto;
}
.conversation{
    padding:4%;
    background-color: gray;
    margin:.5em;
    border-radius: 6px;
}