body{
    display:flex;
    flex-direction: column;
    margin:0px;
    height: 100vh;
}
header{
    border-radius: 5px;
    flex: 0 150px; 
    display:flex;
    background-image: url("FastChat_Logo.png");
}
footer{
    text-align: center;
    justify-content: center;
    flex: 0 100px;
}
.positiveButton {
    background-color:rgba(65, 182, 83, 0.57);
}
.alternateButton{ 
    background-color: rgb(89, 143, 218);
}
.centeredContent {
    text-align: center;
}
button{
    border-radius: 8px;
}
/* .borderItem{
    background-color: hsla(268, 78%, 39%, 0.884);
} */
main{
    flex: 1 calc(100vh - 110px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* #homeScreen{
    overflow:auto;
}
#inputBar{
    float:right;
}
#mainMessageScreen{
    float:left;
    width: 75%;
    margin-left:10%;
}
#chatListSidePanel{
    float:right
}
#optionsMenu{
    overflow: auto;
}
.menuButton{
    float:left;
    margin:2px;
}
#conversationTitle{
    text-align: center;
}
#currentUser{
    text-align: end;
}
.pageHeader{
    overflow: auto;
}
.pageTitle{
    margin:5px;
    vertical-align:middle;
} */