.positiveButton {
    background-color:rgba(65, 182, 83, 0.57);
}
.alternateButton{ 
    background-color: rgb(89, 143, 218);
}
.centeredContent {
    text-align: center;
}
.incomingMessage{
    text-align: start;
}
.outgoingMessage{
    text-align: end;
}
#homeScreen{
    overflow:auto;
}
#inputBar{
    float:right;
}
#mainMessageScreen{
    float:left;
    width: 75%;
    margin-left:10%;
}
#chatListSidePanel{
    float:right
}
#optionsMenu{
    overflow: auto;
}
.homeMenuButton{
    float:left;
    margin:2px;
}
#conversationTitle{
    text-align: center;
}