main{
    display:flex;
    flex-direction: row;
}
@media(max-width: 550px){
    main{
        flex-direction: column;
    }
}
@media(max-width:350px){
    #introImage{
        width:95vw;
    }
}
main div{
    padding: 3%;
}