html{
    height: 100%;
} 
.body{
    display:flex;
    flex-direction: column;
    margin:0px;
    min-height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    flex: 0 75px; 
    display:flex;
    align-items: start;
    align-items: center;
    flex-direction: row;
    background-color: gray;
}
@media (max-width: 350px){
    header{
        flex-direction: column;
    }
}
header h1{
    padding-left: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0%;
}
@media(max-width:190px){
    h1{
        font-size: small;
    }
}
main{
    flex: 1 calc(100vh - 200px);
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(121, 204, 248);
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 0 100px;
    background-color: gray;
}

@media (max-height: 430px){
    header{
        display:none;
    }
    footer{
        display:none;
    }
}

/*buttons*/
button{
    border-radius: 8px;
    font-family:cursive;
}
button:hover{
    border-style: solid;
    border-color: black;
    border-width:3px;
}
.positiveButton {
    background-color:rgba(65, 182, 83, 0.57);
}
.alternateButton{ 
    background-color: rgb(89, 143, 218);
}
.centeredContent {
    text-align: center;
}
.inputLocation{
    border-radius: 4px;
    height: 2em;
    width:200px;
    background-color: rgb(181, 212, 240);
    font-family: Arial, Helvetica, sans-serif;
}
.inputLocation:hover{
    background-color: rgb(158, 202, 240);
}
@media(max-width:200px){
    .inputLocation{
        width:80vw;
    }
}